body {
    background-image: url("../img/bg.jpg");
}

canvas {
    border: 1px solid orangered;
    background-image: url('../img/background.png');
}

table {
    margin: auto;
}

#score {
    color: aqua;
    size: 50px;
}

div {
    font-family: sans-serif;
}
