body {
    background-image: url("../img/bg.jpg");
}

canvas {
    border: 1px solid orangered;
    background-image: url('../img/background.png');
}

table {
    margin: auto;
}

#score {
    color: aqua;
    font-size: 20px;
}

#mang {
    color: red;
    font-size: 20px;
}

div {
    font-family: sans-serif;
    color: orangered;
}
