body {
    background-image: url("../img/bg.jpg");
    background-repeat: round;
}

canvas {
    background-image: url('../img/background.jpg');
}

table {
    margin: auto;
}

#score {
    color: aqua;
    font-size: 20px;
}

#mang {
    color: red;
    font-size: 20px;
}

div {
    font-family: sans-serif;
    color: aqua;
    width: 160px;
    height: 50px;
    text-align: center;
}
#hpSP {
    font-size: 20px;;
}
#hpEnemy {
    font-size: 20px;
}
#lostplane {
    font-size: 20px;
}
h1, p {
    font-family: sans-serif;
    color: aqua;
    width: 160px;
    height: 50px;
    text-align: center;
}